
*.markdown

liferay-plugins-sdk-6.2.0/.project

liferay-plugins-sdk-6.2.0/.ivy/cache/com.liferay-plugins-default.xml

liferay-plugins-sdk-6.2.0/.ivy/cache/com.thoughtworks.qdox/qdox/ivy-1.12.1.xml

liferay-plugins-sdk-6.2.0/.ivy/cache/com.thoughtworks.qdox/qdox/ivydata-1.12.1.properties

liferay-plugins-sdk-6.2.0/.ivy/cache/jalopy/jalopy/ivy-1.5rc3.xml.original

liferay-plugins-sdk-6.2.0/.ivy/cache/jalopy/jalopy/jars/jalopy-1.5rc3.jar

liferay-plugins-sdk-6.2.0/.ivy/cache/javax.activation/activation/ivy-1.1.xml

liferay-plugins-sdk-6.2.0/.ivy/cache/javax.activation/activation/ivy-1.1.xml.original

liferay-plugins-sdk-6.2.0/.ivy/cache/javax.activation/activation/ivydata-1.1.properties

liferay-plugins-sdk-6.2.0/.ivy/cache/javax.activation/activation/jars/activation-1.1.jar

liferay-plugins-sdk-6.2.0/.ivy/cache/javax.ccpp/ccpp/ivy-1.0.xml

liferay-plugins-sdk-6.2.0/.ivy/cache/javax.ccpp/ccpp/ivy-1.0.xml.original

liferay-plugins-sdk-6.2.0/.ivy/cache/jalopy/jalopy/ivydata-1.5rc3.properties

liferay-plugins-sdk-6.2.0/.ivy/cache/javax.ccpp/ccpp/ivydata-1.0.properties

liferay-plugins-sdk-6.2.0/.ivy/cache/javax.ccpp/ccpp/jars/ccpp-1.0.jar

liferay-plugins-sdk-6.2.0/.ivy/cache/javax.mail/mail/ivy-1.4.xml

liferay-plugins-sdk-6.2.0/.ivy/cache/javax.mail/mail/ivy-1.4.xml.original

liferay-plugins-sdk-6.2.0/.ivy/cache/javax.mail/mail/ivydata-1.4.properties

liferay-plugins-sdk-6.2.0/.ivy/cache/javax.mail/mail/jars/mail-1.4.jar

liferay-plugins-sdk-6.2.0/.ivy/cache/javax.servlet.jsp/jsp-api/ivy-2.1.xml

liferay-plugins-sdk-6.2.0/.ivy/cache/javax.servlet.jsp/jsp-api/ivy-2.1.xml.original

liferay-plugins-sdk-6.2.0/.ivy/cache/javax.servlet.jsp/jsp-api/ivydata-2.1.properties

liferay-plugins-sdk-6.2.0/.ivy/cache/javax.servlet.jsp/jsp-api/jars/jsp-api-2.1.jar

liferay-plugins-sdk-6.2.0/.ivy/cache/javax.servlet/javax.servlet-api/ivy-3.0.1.xml.original

liferay-plugins-sdk-6.2.0/.ivy/cache/net.java/jvnet-parent/ivy-1.xml.original

liferay-plugins-sdk-6.2.0/.ivy/cache/javax.servlet/javax.servlet-api/jars/javax.servlet-api-3.0.1.jar

liferay-plugins-sdk-6.2.0/.ivy/cache/junit/junit/ivy-4.11.xml

liferay-plugins-sdk-6.2.0/.ivy/cache/javax.servlet/javax.servlet-api/ivydata-3.0.1.properties

liferay-plugins-sdk-6.2.0/.ivy/cache/junit/junit/ivy-4.11.xml.original

liferay-plugins-sdk-6.2.0/.ivy/cache/junit/junit/ivydata-4.11.properties

liferay-plugins-sdk-6.2.0/.ivy/cache/junit/junit/jars/junit-4.11.jar

liferay-plugins-sdk-6.2.0/.ivy/cache/log4j/log4j/bundles/log4j-1.2.16.jar

liferay-plugins-sdk-6.2.0/.ivy/cache/log4j/log4j/ivy-1.2.16.xml.original

liferay-plugins-sdk-6.2.0/.ivy/cache/log4j/log4j/ivydata-1.2.16.properties

liferay-plugins-sdk-6.2.0/.ivy/cache/net.java/jvnet-parent/ivy-1.xml

liferay-plugins-sdk-6.2.0/.ivy/cache/net.java/jvnet-parent/ivydata-1.properties

liferay-plugins-sdk-6.2.0/.ivy/cache/net.sf/jargs/ivy-1.0.xml

liferay-plugins-sdk-6.2.0/.ivy/cache/net.sf/jargs/ivy-1.0.xml.original

liferay-plugins-sdk-6.2.0/.ivy/cache/net.sf/jargs/ivydata-1.0.properties

liferay-plugins-sdk-6.2.0/.ivy/cache/net.sf/jargs/jars/jargs-1.0.jar

liferay-plugins-sdk-6.2.0/.ivy/cache/org.apache/apache/ivy-4.xml

liferay-plugins-sdk-6.2.0/.ivy/cache/org.apache/apache/ivy-4.xml.original

liferay-plugins-sdk-6.2.0/.ivy/cache/org.apache/apache/ivydata-4.properties

liferay-plugins-sdk-6.2.0/.ivy/cache/org.bouncycastle/bcpg-jdk16/ivy-1.46.xml

liferay-plugins-sdk-6.2.0/.ivy/cache/org.bouncycastle/bcpg-jdk16/ivy-1.46.xml.original

liferay-plugins-sdk-6.2.0/.ivy/cache/log4j/log4j/ivy-1.2.16.xml

liferay-plugins-sdk-6.2.0/.ivy/cache/javax.servlet/javax.servlet-api/ivy-3.0.1.xml

liferay-plugins-sdk-6.2.0/.ivy/cache/jalopy/jalopy/ivy-1.5rc3.xml

liferay-plugins-sdk-6.2.0/.ivy/cache/org.bouncycastle/bcpg-jdk16/jars/bcpg-jdk16-1.46.jar

liferay-plugins-sdk-6.2.0/.ivy/cache/org.bouncycastle/bcprov-jdk16/ivy-1.46.xml

liferay-plugins-sdk-6.2.0/.ivy/cache/org.bouncycastle/bcprov-jdk16/ivy-1.46.xml.original

liferay-plugins-sdk-6.2.0/.ivy/cache/org.bouncycastle/bcprov-jdk16/ivydata-1.46.properties

liferay-plugins-sdk-6.2.0/.ivy/cache/org.bouncycastle/bcprov-jdk16/jars/bcprov-jdk16-1.46.jar

liferay-plugins-sdk-6.2.0/.ivy/cache/org.codehaus/codehaus-parent/ivy-4.xml

liferay-plugins-sdk-6.2.0/.ivy/cache/org.codehaus/codehaus-parent/ivy-4.xml.original

liferay-plugins-sdk-6.2.0/.ivy/cache/org.codehaus/codehaus-parent/ivydata-4.properties

liferay-plugins-sdk-6.2.0/.ivy/cache/org.eclipse.jdt.core.compiler/ecj/ivy-3.7.2.xml

liferay-plugins-sdk-6.2.0/.ivy/cache/org.eclipse.jdt.core.compiler/ecj/ivy-3.7.2.xml.original

liferay-plugins-sdk-6.2.0/.ivy/cache/org.eclipse.jdt.core.compiler/ecj/ivydata-3.7.2.properties

liferay-plugins-sdk-6.2.0/.ivy/cache/org.eclipse.jdt.core.compiler/ecj/jars/ecj-3.7.2.jar

liferay-plugins-sdk-6.2.0/.ivy/cache/org.mockito/mockito-all/ivy-1.9.5.xml

liferay-plugins-sdk-6.2.0/.ivy/cache/org.mockito/mockito-all/ivy-1.9.5.xml.original

liferay-plugins-sdk-6.2.0/.ivy/cache/org.mockito/mockito-all/ivydata-1.9.5.properties

liferay-plugins-sdk-6.2.0/.ivy/cache/org.mockito/mockito-all/jars/mockito-all-1.9.5.jar

liferay-plugins-sdk-6.2.0/.ivy/cache/org.osgi/org.osgi.compendium/ivy-4.3.1.xml

liferay-plugins-sdk-6.2.0/.ivy/cache/org.osgi/org.osgi.compendium/ivy-4.3.1.xml.original

liferay-plugins-sdk-6.2.0/.ivy/cache/org.osgi/org.osgi.compendium/ivydata-4.3.1.properties

liferay-plugins-sdk-6.2.0/.ivy/cache/org.osgi/org.osgi.core/ivy-4.3.1.xml

liferay-plugins-sdk-6.2.0/.ivy/cache/org.osgi/org.osgi.compendium/jars/org.osgi.compendium-4.3.1.jar

liferay-plugins-sdk-6.2.0/.ivy/cache/org.osgi/org.osgi.core/ivy-4.3.1.xml.original

liferay-plugins-sdk-6.2.0/.ivy/cache/org.osgi/org.osgi.core/jars/org.osgi.core-4.3.1.jar

liferay-plugins-sdk-6.2.0/.ivy/cache/org.powermock/powermock-api-mockito/ivy-1.5.xml

liferay-plugins-sdk-6.2.0/.ivy/cache/org.powermock/powermock-api-mockito/ivy-1.5.xml.original

liferay-plugins-sdk-6.2.0/.ivy/cache/org.powermock/powermock-api-mockito/ivydata-1.5.properties

liferay-plugins-sdk-6.2.0/.ivy/cache/org.powermock/powermock-api-mockito/jars/powermock-api-mockito-1.5.jar

liferay-plugins-sdk-6.2.0/.ivy/cache/org.powermock/powermock-api-support/ivy-1.5.xml

liferay-plugins-sdk-6.2.0/.ivy/cache/org.osgi/org.osgi.core/ivydata-4.3.1.properties

liferay-plugins-sdk-6.2.0/.ivy/cache/org.powermock/powermock-api-support/ivy-1.5.xml.original

liferay-plugins-sdk-6.2.0/.ivy/cache/org.powermock/powermock-api-support/ivydata-1.5.properties

liferay-plugins-sdk-6.2.0/.ivy/cache/org.powermock/powermock-api-support/jars/powermock-api-support-1.5.jar

liferay-plugins-sdk-6.2.0/.ivy/cache/org.powermock/powermock-api/ivy-1.5.xml

liferay-plugins-sdk-6.2.0/.ivy/cache/org.powermock/powermock-api/ivy-1.5.xml.original

liferay-plugins-sdk-6.2.0/.ivy/cache/org.powermock/powermock-api/ivydata-1.5.properties

liferay-plugins-sdk-6.2.0/.ivy/cache/org.powermock/powermock-core/ivy-1.5.xml

liferay-plugins-sdk-6.2.0/.ivy/cache/org.powermock/powermock-core/ivy-1.5.xml.original

liferay-plugins-sdk-6.2.0/.ivy/cache/org.powermock/powermock-core/ivydata-1.5.properties

liferay-plugins-sdk-6.2.0/.ivy/cache/org.powermock/powermock-core/jars/powermock-core-1.5.jar

liferay-plugins-sdk-6.2.0/.ivy/cache/org.powermock/powermock-module-junit4-common/ivy-1.5.xml

liferay-plugins-sdk-6.2.0/.ivy/cache/org.powermock/powermock-module-junit4-common/ivy-1.5.xml.original

liferay-plugins-sdk-6.2.0/.ivy/cache/org.powermock/powermock-module-junit4-common/ivydata-1.5.properties

liferay-plugins-sdk-6.2.0/.ivy/cache/org.powermock/powermock-module-junit4/ivy-1.5.xml

liferay-plugins-sdk-6.2.0/.ivy/cache/org.powermock/powermock-module-junit4/ivy-1.5.xml.original

liferay-plugins-sdk-6.2.0/.ivy/cache/org.powermock/powermock-module-junit4/jars/powermock-module-junit4-1.5.jar

liferay-plugins-sdk-6.2.0/.ivy/cache/org.powermock/powermock-module-junit4/ivydata-1.5.properties

liferay-plugins-sdk-6.2.0/.ivy/cache/org.powermock/powermock-modules/ivy-1.5.xml

liferay-plugins-sdk-6.2.0/.ivy/cache/org.powermock/powermock-modules/ivy-1.5.xml.original

liferay-plugins-sdk-6.2.0/.ivy/cache/org.powermock/powermock-module-junit4-common/jars/powermock-module-junit4-common-1.5.jar

liferay-plugins-sdk-6.2.0/.ivy/cache/org.powermock/powermock-modules/ivydata-1.5.properties

liferay-plugins-sdk-6.2.0/.ivy/cache/org.powermock/powermock-reflect/ivy-1.5.xml

liferay-plugins-sdk-6.2.0/.ivy/cache/org.powermock/powermock-reflect/ivy-1.5.xml.original

liferay-plugins-sdk-6.2.0/.ivy/cache/org.powermock/powermock-reflect/ivydata-1.5.properties

liferay-plugins-sdk-6.2.0/.ivy/cache/org.powermock/powermock-reflect/jars/powermock-reflect-1.5.jar

liferay-plugins-sdk-6.2.0/.ivy/cache/org.powermock/powermock/ivy-1.5.xml

liferay-plugins-sdk-6.2.0/.ivy/cache/org.powermock/powermock/ivy-1.5.xml.original

liferay-plugins-sdk-6.2.0/.ivy/cache/org.powermock/powermock/ivydata-1.5.properties

liferay-plugins-sdk-6.2.0/.ivy/cache/org.scala-lang/scala-compiler/ivy-2.9.2.xml

liferay-plugins-sdk-6.2.0/.ivy/cache/org.scala-lang/scala-compiler/ivy-2.9.2.xml.original

liferay-plugins-sdk-6.2.0/.ivy/cache/org.sonatype.oss/oss-parent/ivy-5.xml

liferay-plugins-sdk-6.2.0/.ivy/cache/org.bouncycastle/bcpg-jdk16/ivydata-1.46.properties

liferay-plugins-sdk-6.2.0/.ivy/cache/org.sonatype.oss/oss-parent/ivy-5.xml.original

liferay-plugins-sdk-6.2.0/.ivy/cache/org.sonatype.oss/oss-parent/ivydata-5.properties

liferay-plugins-sdk-6.2.0/.ivy/cache/org.springframework/spring-parent/ivy-3.0.7.RELEASE.xml

liferay-plugins-sdk-6.2.0/.ivy/cache/org.springframework/spring-parent/ivy-3.0.7.RELEASE.xml.original

liferay-plugins-sdk-6.2.0/.ivy/cache/org.springframework/spring-parent/ivydata-3.0.7.RELEASE.properties

liferay-plugins-sdk-6.2.0/.ivy/cache/org.scala-lang/scala-compiler/jars/scala-compiler-2.9.2.jar

liferay-plugins-sdk-6.2.0/.ivy/cache/org.springframework/spring-test/ivy-3.0.7.RELEASE.xml

liferay-plugins-sdk-6.2.0/.ivy/cache/org.springframework/spring-test/ivy-3.0.7.RELEASE.xml.original

liferay-plugins-sdk-6.2.0/.ivy/cache/org.springframework/spring-test/ivydata-3.0.7.RELEASE.properties

liferay-plugins-sdk-6.2.0/.ivy/cache/org.scala-lang/scala-compiler/ivydata-2.9.2.properties

liferay-plugins-sdk-6.2.0/.ivy/cache/org.springframework/spring-test/jars/spring-test-3.0.7.RELEASE.jar

liferay-plugins-sdk-6.2.0/.ivy/cache/org.tigris.antelope/antelopetasks/ivy-3.2.10.xml

liferay-plugins-sdk-6.2.0/.ivy/cache/ivy-report.xsl

liferay-plugins-sdk-6.2.0/.ivy/cache/org.tigris.antelope/antelopetasks/ivy-3.2.10.xml.original

liferay-plugins-sdk-6.2.0/.ivy/cache/com.thoughtworks.qdox/qdox/jars/qdox-1.12.1.jar

liferay-plugins-sdk-6.2.0/.ivy/cache/org.tigris.antelope/antelopetasks/ivydata-3.2.10.properties

liferay-plugins-sdk-6.2.0/.ivy/cache/com.thoughtworks.qdox/qdox/ivy-1.12.1.xml.original

liferay-plugins-sdk-6.2.0/.ivy/cache/xalan/serializer/ivy-2.7.1.xml

liferay-plugins-sdk-6.2.0/lib/qdox.jar

liferay-plugins-sdk-6.2.0/lib/scala-compiler.jar

liferay-plugins-sdk-6.2.0/lib/serializer.jar

liferay-plugins-sdk-6.2.0/lib/powermock-reflect.jar

liferay-plugins-sdk-6.2.0/lib/spring-test.jar

liferay-plugins-sdk-6.2.0/lib/xalan.jar

liferay-plugins-sdk-6.2.0/lib/xercesImpl.jar

liferay-plugins-sdk-6.2.0/lib/powermock-module-junit4.jar

liferay-plugins-sdk-6.2.0/lib/powermock-core.jar

liferay-plugins-sdk-6.2.0/lib/powermock-api-support.jar

liferay-plugins-sdk-6.2.0/lib/powermock-api-mockito.jar

liferay-plugins-sdk-6.2.0/lib/org.osgi.core.jar

liferay-plugins-sdk-6.2.0/lib/org.osgi.compendium.jar

liferay-plugins-sdk-6.2.0/lib/mockito-all.jar

liferay-plugins-sdk-6.2.0/lib/mail.jar

liferay-plugins-sdk-6.2.0/lib/log4j.jar

liferay-plugins-sdk-6.2.0/lib/junit.jar

liferay-plugins-sdk-6.2.0/lib/jsp-api.jar

liferay-plugins-sdk-6.2.0/lib/javax.servlet-api.jar

liferay-plugins-sdk-6.2.0/lib/jargs.jar

liferay-plugins-sdk-6.2.0/lib/jalopy.jar

liferay-plugins-sdk-6.2.0/.ivy/cache/xml-apis/xml-apis/ivydata-1.4.01.properties

liferay-plugins-sdk-6.2.0/.ivy/cache/xml-apis/xml-apis/ivy-1.4.01.xml.original

liferay-plugins-sdk-6.2.0/.ivy/cache/xml-apis/xml-apis/jars/xml-apis-1.4.01.jar

liferay-plugins-sdk-6.2.0/.ivy/ivy-2.3.0.jar

liferay-plugins-sdk-6.2.0/ivy.xml.MD5

liferay-plugins-sdk-6.2.0/lib/activation.jar

liferay-plugins-sdk-6.2.0/lib/ccpp.jar

liferay-plugins-sdk-6.2.0/lib/ecj.jar

liferay-plugins-sdk-6.2.0/lib/powermock-module-junit4-common.jar

liferay-plugins-sdk-6.2.0/.ivy/cache/xml-apis/xml-apis/ivy-1.4.01.xml

liferay-plugins-sdk-6.2.0/.ivy/cache/xerces/xercesImpl/jars/xercesImpl-2.10.0.jar

liferay-plugins-sdk-6.2.0/.ivy/cache/xerces/xercesImpl/ivydata-2.10.0.properties

liferay-plugins-sdk-6.2.0/.ivy/cache/xerces/xercesImpl/ivy-2.10.0.xml.original

liferay-plugins-sdk-6.2.0/.ivy/cache/xerces/xercesImpl/ivy-2.10.0.xml

liferay-plugins-sdk-6.2.0/.ivy/cache/resolved-com.liferay-plugins-working@it-admins-MacBook-Pro-2.local.xml

liferay-plugins-sdk-6.2.0/portlets/quartz-scheduler-portlet/docroot/WEB-INF/src/content/language.properties

liferay-plugins-sdk-6.2.0/portlets/quartz-scheduler-portlet/docroot/WEB-INF/tld/aui.tld

liferay-plugins-sdk-6.2.0/portlets/quartz-scheduler-portlet/docroot/WEB-INF/tld/liferay-portlet-ext.tld

liferay-plugins-sdk-6.2.0/portlets/quartz-scheduler-portlet/docroot/WEB-INF/tld/liferay-security.tld

liferay-plugins-sdk-6.2.0/portlets/quartz-scheduler-portlet/docroot/WEB-INF/tld/liferay-theme.tld

liferay-plugins-sdk-6.2.0/.ivy/cache/xalan/serializer/ivy-2.7.1.xml.original

liferay-plugins-sdk-6.2.0/portlets/quartz-scheduler-portlet/docroot/WEB-INF/tld/liferay-util.tld

liferay-plugins-sdk-6.2.0/portlets/quartz-scheduler-portlet/docroot/WEB-INF/web.xml

liferay-plugins-sdk-6.2.0/portlets/quartz-scheduler-portlet/docroot/WEB-INF/tld/liferay-ui.tld

liferay-plugins-sdk-6.2.0/portlets/quartz-scheduler-portlet/docroot/icon.png

liferay-plugins-sdk-6.2.0/portlets/quartz-scheduler-portlet/docroot/WEB-INF/src/com/rivetlogic/quartz/portlet/QuartzSchedulerPortlet.java

liferay-plugins-sdk-6.2.0/portlets/quartz-scheduler-portlet/docroot/WEB-INF/portlet.xml

liferay-plugins-sdk-6.2.0/.ivy/cache/resolved-com.liferay-plugins-working@it-admins-MacBook-Pro-2.local.properties

liferay-plugins-sdk-6.2.0/.ivy/cache/org.tigris.antelope/antelopetasks/jars/antelopetasks-3.2.10.jar

liferay-plugins-sdk-6.2.0/.ivy/cache/xalan/serializer/jars/serializer-2.7.1.jar

liferay-plugins-sdk-6.2.0/.ivy/cache/xalan/xalan/ivy-2.7.1.xml.original

liferay-plugins-sdk-6.2.0/.ivy/cache/xalan/xalan/ivydata-2.7.1.properties

liferay-plugins-sdk-6.2.0/.ivy/cache/xalan/xalan/jars/xalan-2.7.1.jar

liferay-plugins-sdk-6.2.0/.ivy/cache/xalan/xalan/ivy-2.7.1.xml

liferay-plugins-sdk-6.2.0/.ivy/cache/xalan/serializer/ivydata-2.7.1.properties

liferay-plugins-sdk-6.2.0/lib/xml-apis.jar

liferay-plugins-sdk-6.2.0/hooks/example-hook/*

liferay-plugins-sdk-6.2.0/portlets/google-app-engine-portlet/*

liferay-plugins-sdk-6.2.0/portlets/jira-client-portlet/*

liferay-plugins-sdk-6.2.0/portlets/speech-app-portlet/*

liferay-plugins-sdk-6.2.0/portlets/google-app-engine/*

liferay-plugins-sdk-6.2.0/portlets/test-read-portlet/*

liferay-plugins-sdk-6.2.0/ext/test-ext/*

liferay-plugins-sdk-6.2.0/hooks/test-hook/*

liferay-plugins-sdk-6.2.0/layouttpl/test-layouttpl/*

liferay-plugins-sdk-6.2.0/portlets/test-portlet/*

liferay-plugins-sdk-6.2.0/themes/test-theme/*
